<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Mario Gonzalez Lopez.<br> Cuenta de GitHub:<a href="https://www.github.com/mglez22"> mglez22.</a>
</p>

<img src="/images/FotoMario.jpg" />

